aiodns==3.0.0
aiofiles==0.5.0
appdirs==1.4.4; python_version >= "3.6"
attrs==21.4.0; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_full_version >= "3.5.0" and python_version >= "3.7" and python_version < "4.0"
bcrypt==3.2.2; python_version >= "3.6"
boto3==1.14.17
botocore==1.17.63
cached-property==1.5.2; python_version >= "3.6"
cachetools==5.2.0; python_version >= "3.7" and python_version < "4.0"
certifi==2022.6.15; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_full_version >= "3.5.0" and python_version >= "3.7" and python_version < "4.0"
cffi==1.15.0
chardet==3.0.4; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
click-plugins==1.1.1; python_version >= "3.7" and python_version < "4.0"
click==8.1.3; python_version >= "3.7" and python_version < "4.0" and (python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_full_version >= "3.3.0" and python_version < "4" and python_version >= "3.7")
cligj==0.7.2; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_full_version >= "3.3.0" and python_version < "4" and python_version >= "3.7"
colorama==0.4.5; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" and platform_system == "Windows" or python_version >= "3.7" and python_version < "4.0" and platform_system == "Windows" and python_full_version >= "3.5.0"
cryptography==37.0.2; python_version >= "3.6"
cssselect==1.1.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
cssutils==2.4.2; python_version >= "3.7"
defusedxml==0.7.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
dnspython==2.2.1; python_version >= "3.6" and python_version < "4.0"
docutils==0.15.2; python_version >= "2.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0"
dramatiq==1.9.0; python_version >= "3.5"
email-normalize==2.0.0
email-validator==1.0.5
emails==0.6
fastapi==0.62.0; python_version >= "3.6"
fiona==1.8.21; python_version >= "3.7" and python_version < "4.0"
future==0.18.2; python_version >= "2.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0"
hashids==1.2.0
iceaddr @ git+https://github.com/jokull/iceaddr.git@f490eab
idna==2.10; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
imgix==3.2.1
isodate==0.6.1; python_version >= "3.6"
jinja2==2.11.1; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
jmespath==0.10.0; python_version >= "2.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0"
lxml==4.9.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
markupsafe==2.1.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
munch==2.5.0; python_version >= "3.7" and python_version < "4.0"
passlib==1.7.2
premailer==3.10.0
prometheus-client==0.14.1; python_version >= "3.6"
psycopg2==2.8.6; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
pycares==4.1.2
pycparser==2.21
pydantic==1.9.1; python_full_version >= "3.6.1" and python_version >= "3.6"
pyjwt==1.7.1
python-dateutil==2.8.2; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0"
python-multipart==0.0.5
pytz==2022.1; python_version >= "3.6"
redis==3.5.3; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
requests-file==1.5.1; python_version >= "3.6"
requests-toolbelt==0.9.1; python_version >= "3.6"
requests==2.24.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
reynir==2.8.1
s3transfer==0.3.7
sentry-dramatiq==0.3.2
sentry-sdk==0.19.5
shapely==1.8.2; python_version >= "3.7" and python_version < "4.0"
six==1.16.0; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.3.0"
skipulagsstofnun==0.2.1; python_version >= "3.7" and python_version < "4.0"
sqlakeyset==0.1.1579837191
sqlalchemy-utils==0.36.3
sqlalchemy==1.3.20; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
starlette==0.13.6; python_version >= "3.6"
tokenizer==2.5.0
typing-extensions==4.2.0; python_full_version >= "3.6.1" and python_version >= "3.7"
urllib3==1.25.11; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version < "4" and python_version >= "3.6"
zeep==4.0.0; python_version >= "3.6"
