<!DOCTYPE html>
<html lang="is">
  <head>
    <meta charset="utf-8"/>
    <title>{% block title %}Planitor{% endblock %}</title>
    <link href="{{ url_for('static', path='/dist/styles.css') }}" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta property="og:title" content="{% block og_title %}Planitor{% endblock %}"/>
    <meta property="og:description" content="{% block og_description %}Upplýsingagátt fyrir skipulagsmál og mannvirkjagerð á Íslandi{% endblock %}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ request.url }}"/>
    <link rel="icon" href="{{ url_for('static', path='/favicon-16.png') }}" sizes="16x16"/>
    <link rel="icon" href="{{ url_for('static', path='/favicon-32.png') }}" sizes="32x32"/>
    <link rel="icon" href="{{ url_for('static', path='/favicon-192.png') }}" sizes="192x192"/>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet"/>
    <meta property="og:image" content="{{ url_for('static', path='/opengraph.png') }}"/>
    <script src="https://cdn.apple-mapkit.com/mk/5.x.x/mapkit.js"></script>
  </head>

  <body class="flex flex-col flex-wrap items-center min-h-screen bg-midnight">
    <div class="bg-midnight w-full">
      <nav id="navigation" class="flex items-center justify-between px-4 sm:px-6 py-2 sm:py-3 max-w-6xl mx-auto">
        <a href="/" class="block logo" alt="Planitor">{% include "emblem.svg" %}</a>
        <form class="search rounded-md flex-grow flex items-center px-3 mx-3 sm:mx-6 md:mx-12" method="GET" action="{{ url_for('get_search') }}">
          <div class="sf-symbol">{% include "symbols/magnifyingglass.svg" %}</div>
          <input value="{{ q or '' }}" name="q" size="1" style="min-width: 120px; height: 2.9em;" class="bg-transparent flex-grow py-2 px-2 text-white text-sm font-thin overflow-hidden" placeholder="Leit - t.d. 'Reitir ehf.', 'Brautarholt' eða 'gistiheimili'"/>
        </form>
        {% if user %}
          <div class="user text-white">
            <span class="name font-thin" style="color: rgba(255, 255, 255, 0.6);">{{ user.full_name }}</span>
            <button id="logout-button" class="font-semibold text-white">Útskrá</button>
          </div>
        {% else %}
          <button id="login-button" class="btn btn-primary">Innskrá</button>
        {% endif %}
      </nav>
    </div>
    <div class="flex-grow w-full sheet">
      <div class="max-w-6xl mx-auto px-4 sm:px-6">
        {% block body %}{% endblock body %}
      </div>
    </div>
    <footer class="w-full mt-8 bg-midnight">
      <div class="mx-auto max-w-6xl px-4 py-8 sm:px-6 text-xs sm:text-sm">
        <p class="my-1 text-white"><a href="https://planitor.substack.com/" target="_blank">Fréttabréf</a></p>
        <p class="my-1 text-white">
          <a href="mailto:hallo@planitor.io" class="font-bold text-blue-200">
            hallo@planitor.io
          </a>
        </p>
      </div>
    </footer>
    {% include "modal.html" %}
    <script src="{{ url_for('static', path='/dist/app.js') }}"></script>
    {# Hot reload script #}
    {% if DEBUG %}
      {{ hotreload.script(url_for('hot-reload')) | safe }}
    {% endif %}
  </body>
</html>