{% extends "base.html" %}

{% from 'symbols/symbols.html' import house_fill, arrow_up_right_circle_fill %}
{% from 'includes/breadcrumbs.html' import breadcrumbs, breadcrumb %}
{% from 'includes/cases.html' import case_table %}

{% block title %}{{ entity.name }} — {{ super() }}{% endblock %}
{% block og_title %}{{ entity.name }} — {{ super() }}{% endblock %}

{% block body %}

  <div class="my-8 mt-4 sm:mt-8">
    {% call breadcrumbs() %}
    {{ breadcrumb(None, "Fyrirtæki", dash=False) }}
    {{ breadcrumb(None, entity.name) }}
    {% endcall %}
    <div class="flex justify-between items-center">
      <div>
        <div class="text-xl font-bold">{{ entity.name }}</div>
        <div>kt. {{ entity.get_human_kennitala() }}</div>
      </div>
      <a class="btn block" href="https://www.rsk.is/fyrirtaekjaskra/leit/kennitala/{{ entity.kennitala }}">
        RSK.is <span class="sf-symbol">{{ arrow_up_right_circle_fill(class="") }}</span>
      </a>
    </div>
  </div>

  <div class="flex flex-col">
    <div class="mb-4">
      <div class="entity-map shadow-lg rounded-md overflow-hidden bg-white w-full" data-kennitala="{{ entity.kennitala }}"></div>
    </div>
    <div class="">
      {{ case_table(request, cases) }}
    </div>
  </div>

{% endblock body %}
