<!-- prettier-ignore -->
{% from "includes/breadcrumbs.html" import breadcrumbs, breadcrumb %}

{% extends "base.html" %} {% block body %}
<div class="px-6">
  <div class="my-8 mt-4 sm:mt-8">
    <!-- prettier-ignore -->
    {% set council_slug = council.council_type.value.slug %}
    {% call breadcrumbs() %}
      {{ breadcrumb(url_for('get_index'), "Heim", mobile_collapse=True) }}
      {{ breadcrumb(url_for('get_municipality', muni_slug=municipality.slug), municipality.name) }}
      {{ breadcrumb(url_for('get_council', muni_slug=municipality.slug, council_slug=council_slug), council.name) }}
      {{ breadcrumb(None, "Nr. {}".format(meeting.name)) }}
    {% endcall %}
    <div class="font-bold text-gray-700">{{ human_date(meeting.start) }}</div>
    <div class="flex justify-between items-end">
      <a class="text-4xl font-thin block">Fundur nr. {{ meeting.name }}</a>
      <a class="btn block" href="{{ meeting.url }}">
        Fundargerð <span class="sf-symbol">{% include "symbols/arrow.up.right.circle.fill.svg" %}</span>
      </a>
    </div>
  </div>
  <div class="minutes">
    {% for minute, case_count in minutes %} {% include "includes/minute.html" %} {% endfor %}
  </div>
</div>
{% endblock body %}
