{% extends "base.html" %} {% block body %}
<div class="px-6">
  <div class="my-8 mt-4 sm:mt-8">
    <ul class="breadcrumbs flex items-center text-lg mb-8">
      <li class="mr-4">
        <a class="text-blue-700" href="{{ url_for('get_index') }}">
          <span class="sf-symbol">{% include "symbols/house.fill.svg" %}</span>
        </a>
      </li>
      <li class="mr-4">/</li>
      <li class="mr-4">
        <a class="text-blue-700" href="{{ url_for('get_municipality', muni_slug=municipality.slug) }}">
          {{ council.municipality.name }}
        </a>
      </li>
      <li class="mr-4">/</li>
      <li class="mr-4">
        <a
          class="text-blue-700"
          href="{{ url_for('get_council', muni_slug=municipality.slug, council_slug=council.council_type.value.slug) }}"
        >
          {{ council.name }}
        </a>
      </li>
      <li class="mr-4">/</li>
      <li class="mr-4">Nr. {{ meeting.name }}</li>
    </ul>
    <div class="font-bold text-gray-700">{{ human_date(meeting.start) }}</div>
    <div class="flex justify-between items-end">
      <a class="text-4xl font-thin block">Fundur nr. {{ meeting.name }}</a>
      <a class="btn block" href="{{ meeting.url }}">
        Fundargerð <span class="sf-symbol">{% include "symbols/arrow.up.right.circle.fill.svg" %}</span>
      </a>
    </div>
  </div>
  <div class="minutes">
    {% for minute, case_count in minutes %} {% include "includes/minute.html" %} {% endfor %}
  </div>
</div>
{% endblock body %}
