{% from "includes/breadcrumbs.html" import breadcrumbs,
breadcrumb %}

{% macro asdf() %}
<div class="grid-cols-12"></div>
{% endmacro %}

{% macro meeting_card() %}
  {% set meeting_url = url_for('get_meeting', muni_slug = municipality.slug, council_slug = council.council_type.value.slug, meeting_id = h.encode(meeting.id)) %}
  <div class="rounded-md p-4" style="background: #D6F9F5;">
    <div class="flex justify-between items-start mb-2" style="color: #46BCCC;">
      <div>
        <div class="text-lg font-extrabold">
          Fundur
          <a href="{{ meeting_url }}" class="underline font-semibold">
            nr.
            {{ meeting.name }}
          </a>
        </div>
        <div class="text-sm">
          {{ human_date(meeting.start) }}
        </div>
      </div>
      <div class="pill pill-big pill-{{ minute.status.value.color if minute.status else 'none' }} font-bold">
        {{ minute.status.value.label if minute.status else "Annað" }}
      </div>
    </div>
  </div>
{% endmacro %}

{% extends "case.html" %}

{% block title %}Bókun {{ minute.serial }} / {{ case.council.name }} í {{ municipality.name }} — {{ super.super() }}{% endblock %}
{% block og_title %}Bókun {{ minute.serial }} / {{ case.council.name }} í {{ municipality.name }} — {{ super.super() }}{% endblock %}

{% set council_slug = council.council_type.value.slug %}

{% block breadcrumbs %}
  {% call breadcrumbs() %}
    {{ breadcrumb(url_for('get_municipality', muni_slug=municipality.slug), municipality.name, dash=False) }}
    {{ breadcrumb(url_for('get_council', muni_slug=municipality.slug, council_slug=council_slug), council.name) }}
    {{ breadcrumb(url_for('get_case', muni_slug=municipality.slug, council_slug=council_slug, case_id=case.serial), case.serial) }}
    {{ breadcrumb(None, minute.serial, mobile_collapse=True) }}
  {% endcall %}
{% endblock %}

{% block inner %}
  <div class="mb-6">{{ meeting_card() }}</div>
  <div class="p-4 bg-white rounded-md shadow-lg mb-6">
    <div class="mb-4">
      <h5 class="uppercase tracking-wide text-gray-700 font-thin text-xs">Fyrirspurn</h5>
      <div>
        {% for kennitala, token in minute.get_inquiry_mention_tokens() -%}
          {% if not kennitala -%}
            {{ token.replace('\n\n', '<br />')|safe }}
          {% else -%}
            {% if kennitala.is_person() -%}
              <a class="text-blue-900 underline" href="{{ url_for('get_person', kennitala=kennitala.kennitala) }}">{{ token }}</a>
            {% else -%}
              <a class="text-blue-900 underline" href="{{ url_for('get_company', kennitala=kennitala.kennitala) }}">{{ token }}</a>
            {% endif -%}
          {% endif -%}
        {% endfor -%}
      </div>
    </div>
    <div class="mb-4">
      <h5 class="uppercase tracking-wide text-gray-700 font-thin text-xs">Svar</h5>
      <p>{{ minute.remarks.replace('\n\n', '<br />')|safe }}</p>
    </div>
  </div>
{% endblock %}