{% from "includes/breadcrumbs.html" import breadcrumbs, breadcrumb %}

{% macro meeting_card() %}
  {% set meeting_url = url_for('get_meeting', muni_slug = municipality.slug, council_slug = council.council_type.value.slug, meeting_id = h.encode(meeting.id)) %}
  <div class="rounded-md p-4 bg-planitor-gold bg-opacity-25 text-planitor-gold">
    <div class="flex justify-between items-start mb-2">
      <div>
        <div class="text-lg font-extrabold">
          Fundur
          <a href="{{ meeting_url }}" class="underline font-semibold"> nr. {{ meeting.name }}</a>
        </div>
        <div class="text-sm">{{ human_date(meeting.start) }}</div>
      </div>
      <div class="pill pill-big pill-{{ minute.status.value.color if minute.status else 'none' }} font-bold shadow-lg">
        {{ minute.status.value.label if minute.status else "Annað" }}
      </div>
    </div>
  </div>
{% endmacro %}

{% extends "case.html" %}

{% block title -%}
  {{ minute.headline }} — {{ super.super() }}
{%- endblock %}

{% block og_title -%}
  {{ minute.headline }} — {{ super.super() }}
{%- endblock %}

{% block og_image -%}
  {% if minute.attachments and minute.attachments[0].pdf %}
    <meta property="og:image" content="{{ imgix(minute.attachments[0].pdf.key, {'page': '{}'.format(minute.attachments[0].pdf.page_highlight or 1) }) }}" />
  {% else %}
    {{ super() }}
  {% endif %}
{% endblock %}

{% block breadcrumbs %}
  {% call breadcrumbs() %}
    {{ breadcrumb(url_for('get_municipality', muni_slug=municipality.slug), municipality.name, dash=False) }}
    {{ breadcrumb(url_for('get_case', muni_slug=municipality.slug, case_id=case.serial), case.serial) }}
    {{ breadcrumb(None, minute.serial, mobile_collapse=True) }}
  {% endcall %}
{% endblock %}

{% block right %}
{% if user.is_superuser %}
  <div class="mt-4">
    <div class="mb-2 font-bold text-xl flex">
      <div class="flex-grow">Byggingaleyfi</div>
      <div class="sf">􀒳</div>
    </div>
    <div class="permit-form" data-minute-id="{{ minute.id }}"></div>
  </div>
{% endif %}
{% endblock %}

{% block inner %}
  <div class="mb-6">{{ meeting_card() }}</div>
  <div class="mb-4 flex text-xs md:text-sm">
    {% if previous_minute %}
    <a
      class="bg-gray-200 rounded-md text-gray-900 p-2 px-2 md:px-4"
      href="{{ url_for('get_minute',
      muni_slug=municipality.slug,
      case_id=previous_minute.case.serial,
      minute_id=h.encode(previous_minute.id)) }}"
    >‹ {{ previous_minute.serial }}</a>
    {% endif %}
    <div class="flex-grow p-2 px-2 md:px-4 text-center font-bold">
      {{ minute.serial }}
    </div>
    {% if next_minute %}
    <a
      class="bg-gray-200 rounded-md text-gray-900 p-2 px-2 md:px-4"
      href="{{ url_for('get_minute',
        muni_slug=municipality.slug,
        case_id=next_minute.case.serial,
        minute_id=h.encode(next_minute.id)) }}"
      >{{ next_minute.serial }} ›
    </a>
    {% endif %}
  </div>
  <div class="p-4 bg-white rounded-md shadow-lg">
    {% if minute.inquiry %}
    <div>
      <h5 class="uppercase tracking-wide text-gray-700 font-light text-xs">Fyrirspurn</h5>
      <div>
        {% for kennitala, token in minute.get_inquiry_mention_tokens() -%}
          {% if not kennitala -%}
            {{ token.replace('\n\n', '<br />')|safe }}
          {% else -%}
            {% if kennitala.is_person() -%}
              <a class="text-planitor-darkBlue underline" href="{{ url_for('get_person', kennitala=kennitala.kennitala) }}">{{ token }}</a>
            {% else -%}
              <a class="text-planitor-darkBlue underline" href="{{ url_for('get_company', kennitala=kennitala.kennitala) }}">{{ token }}</a>
            {% endif -%}
          {% endif -%}
        {% endfor -%}
      </div>
    </div>
    {% endif %}
    {% if minute.remarks %}
    <div class="mt-4">
      <h5 class="uppercase tracking-wide text-gray-700 font-light text-xs">Svar</h5>
      <p>{{ minute.remarks.replace('\n\n', '<br />')|safe }}</p>
    </div>
    {% endif %}
    {% if minute.participants %}
    <div class="mt-4">
      <h5 class="uppercase tracking-wide text-gray-700 font-light text-xs">Gestir</h5>
      <div class="text-sm text-gray-800">{{ minute.participants }}</div>
    </div>
    {% endif %}
    {% if minute.entrants_and_leavers %}
    <div class="mt-4">
      <h5 class="uppercase tracking-wide text-gray-700 font-light text-xs">Komur og brottfarir</h5>
      <ul class="text-sm">
      {% for _ in minute.entrants_and_leavers %}
        <li class="text-gray-800">{{ _ }}</li>
      {% endfor %}
      </ul>
    </div>
    {% endif %}
  </div>
  {% if minute.responses %}
  <div class="mt-6 p-4 bg-white rounded-md shadow-lg">
    <div>
      <h5 class="uppercase tracking-wide text-gray-700 font-light text-xs">Bókanir og gagnbókanir</h5>
      <ul>
      {% for response in minute.responses %}
        <li class="mt-2">
          <div class="font-bold">{{ ", ".join(response.subjects) or response.headline }}</div>
          <div class="">{{ response.contents }}</div>
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}

  {% if minute.attachments %}
  <div class="mt-6 ">
    <ul class="list-disc ml-4 text-sm">
    {% for attachment in minute.attachments %}
      <li class="text-gray-800">
        <div>
          <a class="hover:underline text-planitor-blue" target="_blank" href="{{ attachment.url }}">{{ attachment.label }}</a>
          <span class="text-gray-400 ml-2">
            {{ {'application/pdf': 'PDF'}.get(attachment.type, '') }}
          </span>
        </div>
        {% if attachment.pdf %}
        <div>
          <ul class="overflow-y-scroll py-3 px-1">
            {% for i in range(attachment.pdf.page_count) %}
            {% set page = "{}".format(i + 1) %}
            <li class="overflow-hidden rounded shadow-md mr-2 mb-2 float-left block">
              <a href="{{ imgix(attachment.pdf.key, {'page': page }) }}" target="_blank">
                <img src="{{ imgix(attachment.pdf.key, {'h': '100', 'page': page }) }}">
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  </div>
  {% endif %}

{% endblock %}