{% extends "base.html" %}

{% block body %}
<div class="my-8 mt-4 sm:mt-8">

  <div class="text-3xl mb-8 sm:mb-12 leading-relaxed">Fundargerðir skipulags- og byggingarmála</div>

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
    {% for municipality, meetings in meetings | groupby("council.municipality") %}
    <div>
      <div class="mb-4 flex justify-between sm:justify-start items-center">
        <a class="text-2xl font-bold" href="{{ url_for('get_municipality', muni_slug=municipality.slug) }}">
          {{ municipality }}
        </a>
        <a class="sm:ml-2 text-gray-400" href="{{ url_for('get_municipality', muni_slug=municipality.slug) }}">
          <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
            <path d="M20 4h1a1 1 0 00-1-1v1zm-1 12a1 1 0 102 0h-2zM8 3a1 1 0 000 2V3zM3.293 19.293a1 1 0 101.414 1.414l-1.414-1.414zM19 4v12h2V4h-2zm1-1H8v2h12V3zm-.707.293l-16 16 1.414 1.414 16-16-1.414-1.414z"></path>
          </svg>
        </a>
      </div>
      <div>
        {% for meeting in meetings %}
        <div class="mb-2">
          <a href="{{ url_for('get_meeting', muni_slug=municipality.slug, council_slug=meeting.council.slug, meeting_id=h.encode(meeting.id)) }}"
            class="text-planitor-blue">
            <div>
              {{ meeting.council }}
            </div>
            <div class="text-xs text-gray-400">{{ human_date(meeting.start) }}</div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock body %}
