{% extends "base.html" %}

{% block body %}
<div class="my-8 mt-4 sm:mt-8">

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
  {% for municipality, meetings in meetings | groupby("council.municipality") %}
    <div>
      <div class="text-2xl font-bold mb-4">
        <a href="{{ url_for('get_municipality', muni_slug=municipality.slug) }}">
          {{ municipality }}
        </a>
      </div>
      <div>
      {% for meeting in meetings %}
        <div class="mb-2">
          <div class="text-sm font-semibold">
            <a href="{{ url_for('get_municipality', muni_slug=municipality.slug, council_slug=meeting.council.slug) }}">
              {{ meeting.council }}
            </a>
          </div>
          <a href="{{ url_for('get_meeting', muni_slug=municipality.slug, council_slug=meeting.council.slug, meeting_id=h.encode(meeting.id)) }}" class="text-planitor-blue">
            <div>
              Fundur {{ meeting.name }}
            </div>
            <div class="text-xs text-gray-400">{{ human_date(meeting.start) }}</div>
          </a>
        </div>
      {% endfor %}
      </div>
    </div>
  {% endfor %}
  </div>
</div>
{% endblock body %}
