{% extends "base.html" %}

{% block inner %}
<table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center" width="100%">
  <tr>
    <td class="td">
      Til að stilla nýtt lykilorð þarftu að smella á linkinn hér að neðan sem verður
      virkur í tvær klukkustundir frá því að pósturinn var sendur:
    </td>
  </tr>
  <tr>
    <td class="td" align="center">
      <a class="btn" style="font-weight:bold;" href="{{ link }}">Nýtt lykilorð</a>
    </td>
  </tr>
  <tr>
    <td class="td">
      <p>Ef hnappurinn virkar ekki getur þú afritað þessa slóð:</p>
      <p style="font-family:monospace;font-size:10pt;overflow-wrap:break-word;">{{ link }}</p>
    </td>
  </tr>
  <tr>
    <td class="td">
      <p>Ekki hika við að hafa samband við okkur beint ef þú lendir í
      vandræðum: <a href="mailto:hallo@planitor.io">hallo@planitor.io</a></p>
    </td>
  </tr>
</table>
{% endblock inner %}