{% extends "subscription_base.html" %}

{% from "subscription_base.html" import render_subscription, render_meeting %}

{% block deliveries %}
  {% for meeting, minute_deliveries in meeting_minute_deliveries %}
    {{ render_meeting(meeting) }}
    {% for minute, deliveries in minute_deliveries %}
      {{ render_minute(minute=minute, deliveries=deliveries) }}
    {% endfor %}
  {% endfor %}
  <tr>
    <td class="td" style="padding-bottom:0; background:#D6F9F5; padding: 10px;">
      <p style="padding:0;font-size:12px;">
        Sjálfvirkur vikulegur póstur frá vaktara Planitor, sérsniðin að þínum
        aðgangi og þeim
        <a href="https://planitor.io/notendur/stillingar" style="color:#46BCCC">
        vökturum sem hafa verið gerðir virkir</a>.
      </p>
    </td>
  </tr>
{% endblock %}