{% extends "base.html" %}

{% macro render_meeting(meeting) %}
  <tr>
    <td class="td" style="background:#27226B;color:white;padding:10px;line-height:1.2em;">
      <p style="font-size:12px;text-transform:uppercase;margin:0;">{{ meeting.council }}, {{ meeting.council.municipality }}</p>
      <p style="font-size:16px;font-weight:bold;margin:0;">
        <a href="https://www.planitor.io/meetings/{{ meeting.id }}" style="color:white;">
          Fundur {{ meeting.name }}, {{ human_date(meeting.start) }}
        </a>
      </p>
    </td>
  </tr>
{% endmacro %}

{% macro render_minute(minute, deliveries) %}
  <tr>
    <td class="td" style="padding-bottom:0;padding-top:15px;">
      <p style="font-size:22px;font-weight:bold;margin:8px 0">
        <a href="http://planitor.io/minutes/{{ minute.id }}" style="color:#111">{{ minute.headline }}</a>
      </p>
      <p style="font-size:14px;margin:5px 0; color:#666;">
        <span style="font-weight: bold;">{{ minute.case.address }}</span>
        <br>{{ minute.case.serial }}
      </p>
      <p style="line-height:1.2; font-size:15px; white-space: pre-wrap;">{{ minute.inquiry }}</p>
      <p style="line-height:1.2; font-size:15px; white-space: pre-wrap;">{{ minute.remarks }}</p>
    </td>
  </tr>
  <tr>
    <td class="td" style="padding: 10px 0; border-top:0.5px solid #888;">
      <p style="padding:0;font-size:12px;line-height:1.1em;margin:0;">
        Vöktun:
        {% for delivery in deliveries %}
          <a href="https://www.planitor.io/notendur/stillingar" style="color:#333;font-weight:bold;">{{ delivery.subscription.get_string() -}}</a>
          {%- if not loop.last %}
            {%- if loop.revindex == 2 %} og {% else %}, {% endif %}
          {%- endif %}
        {% endfor %}
      </p>
    </td>
  </tr>
  <tr><td class="td"></td></tr>
{% endmacro %}

{% block inner %}
<table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center" style="max-width:600px">
  {% block deliveries %}{% endblock %}
  <tr>
    <td class="td" style="padding: 20px 0;">
      <p style="padding:0;font-size:11px;color:#CCC;">Þessi póstur er sjálfvirkur og var sendur
      til {{ email_to if email_to else "þín" }} þar sem þú ert notandi af vaktara Planitor.
      Þú getur haft samband við okkur með því að svara þessum pósti eða senda okkur línu á
      <a href="mailto:hallo@planitor.io" style="color:#666">hallo@planitor.io</a></p>
    </td>
  </tr>
</table>
{% endblock inner %}